* {
  padding: 0%;
  margin: 0;

  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.App {
  background-color: darkcyan;
  padding: 0rem;
}

section {
  padding-top: 10rem;
  margin-left: 10rem;
  padding-bottom: 1rem;
}

.projectsTitle {
  white-space: pre;
  font-style:inherit;
  font-size: large;
  font-weight: 600;

}

.textDetails {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
  background-color: transparent;
  white-space: pre-wrap;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(88, 255, 219);
  font-weight: bolder;
  font-size: large;
  font-synthesis: weight;
}

.projList {
  list-style: none;
}


